<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.spacechat.spacechatapi.chatchannel.mapper.ChatMsgMapper">

    <insert id="createChatMsg">
        insert into tb_chatmsg(chatroom_id, sender_id, msg_type, msg_content, created_at)
        values(#{chatRoomId}, #{senderId}, #{msgType}, #{msgContent}, NOW())
    </insert>

    <select id="getChatMsgByChatRoomId" resultType="team.spacechat.spacechatapi.chatchannel.dto.ChatMsg">
        select * from tb_chatmsg
        where chatroom_id = #{chatRoomId}
    </select>


</mapper>
